@font-face {
    font-family: 'O';
    src: url('fontes/Oswald-VariableFont_wght.ttf');
}

@keyframes fechar {

    to {
        visibility: hidden;
    }

    from {
        visibility: hidden;
    }

}

@keyframes anima {
    0% {
        width: 0;
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 255, 0);
}

.principal {
    text-align: left;

    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;

    width: 700px;

    visibility: hidden;
}

.nome-animado {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 550px;

    margin-bottom: 5rem;
}

.imagem-nome-animado {
    background: rgb(255, 255, 255);

    border: 1px solid;
    border-radius: 5px;

    width: 6rem;
    height: 6rem;

    padding: 0.3rem;
}

.dados {
    font-family: 'O';
    font-size: 2rem;

    margin-left: 1rem;
}

.nome-nome-animado {
    background: white;

    border: solid 1px black;
    border-radius: 5px;

    width: 540px;
    height: 2.5rem;

    margin-bottom: 0.3rem;

    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
}

.ocupacao-nome-animado {
    background: white;

    border: solid 1px black;
    border-radius: 5px;

    width: 30rem;
    height: 2.5rem;

    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
}


.i_dados {
    display: block;
    text-align: center;

    width: 750px;

    margin: auto;
}

.n-o {
    display: block;

    width: 750px;
    height: 150px;
}


#i_nome {
    margin-bottom: 2rem;
}

#i_nome,
#i_ocupacao {
    font-family: 'O';
    font-size: 2rem;

    width: 700px;

    text-align: center;

    border: 1px solid;

    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

#botao_pegar {
    background: rgb(0, 183, 255);
    color: white;

    font-family: 'O';
    font-size: 2rem;

    outline: none;

    border: solid 1px black;
    border-radius: 0.5rem;

    width: 700px;

    margin-bottom: 2rem;

    padding: 1rem;

    text-align: center;

    cursor: pointer;
}

#botao_pegar:hover {
    background: rgb(0, 131, 253);

    border-color: black;
}

#botao-1 {
    background: rgb(0, 183, 255);
    color: white;

    font-family: 'O';
    font-size: 2rem;

    outline: none;

    border: solid 1px black;
    border-radius: 0.5rem;

    width: 350px;

    margin-bottom: 2rem;

    padding: 1rem;

    text-align: center;

    cursor: pointer;
}

#botao-1:hover {
    background: rgb(0, 131, 253);

    border-color: black;
}